{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block main %}
<h3>{{ title }}</h3>
<div class="page-header header-filter" style="background-image: url('{% static "web/materialkit/assets/img/uvalogin.jpg" %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form" method="post" action="">
				{% csrf_token %}
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">{{ title }}</h4>
              <div class="card-body">
					{% crispy form %}
			  </div>
            </form>
        </div>
      </div>
	</div>
</div>
{% endblock %}