{% extends 'app/base.html' %}
{% load static %}

{% block inline-css %}
<style>
#recommended {
	display: inline;
	list-style: none;
}

#recommended li {
	display: inline;
}

#recommended li:after {
	content: ", ":
}

#recommended li:last-child:after {
	content: "";
}
</style>
{% endblock %}

{% block main %}
<div class="container">
	<div class="section text-center">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Type</th>
							<th scope="col">Last Modified</th>
							<th scope="col">Title</th>
							<th scope="col">Description</th>
							<th scope="col">Number of swipes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">{{ listing.listing_type }}</th>
							<td>{{ listing.last_modified }}</td>
							<td>{{ listing.title }}</td>
							<td>{{ listing.description }}</td>
							<td>{{ listing.num_swipes }}</td>
						</tr>
					</tbody>
				</table>
				{% if has_recs %}
				<div class="row">
					<h6>Users who viewed this item also viewed</h6>
					<div class="row">
						<ul id="recommended">
							{% for rec in recommendations %}
							<li><a href="listing/{{ rec.id }}">{{ rec.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
