{% extends 'app/base.html' %}

{% block title %}
	Search listing
{% endblock %}

{% block content %}
	{% if err %}
		<!-- :TODO use bootstrap alert class or whatever you guys use -->
		<div> {{ err }}</div>
	{% endif %}

	<div>
		<form action="{% url 'search' %}" method="post">
			<div>
				{% csrf_token %}
				{% for field in form %}
					{{ field }}
				{% endfor %}
			</div>
			<input type="submit" value="Submit"/>
		</form>
	</div>
	{% if submit %}
	<h2>Results for: "{{ search }}"</h2>
	<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Listing Type</th>
			<th>Number of Swipes</th>
		</tr>
	</thead>
	<tbody>
		{% for listing in results %}
		<tr>
			<!-- :TODO make sure that the results passed in includes title and description fields -->
			<td> {{ listing.title }} <td>
			<td> {{ listing.description }} </td>
			<td> {{ listing.listing_type }} </td>
			<td> {{ listing.num_swipes }} </td>
		</tr>
		{% endfor %}
	</tbody>
	<table>
	{% endif }


{% endblock %}
