<ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'marketplace' %}">
        <i class="material-icons">account_circle</i> Marketplace
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Create Listing' %}">
          <i class="material-icons">account_circle</i> Create Listing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons">account_circle</i> Logout
        </a>
      </li>
  </ul>