global

defaults
	mode http
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

frontend http-in
	bind *:8000
	default_backend servers

backend servers
	balance roundrobin
	server web web-api:8000 check
	server web2 web2-api:8000 check
